.curation-art-container {
    display: flex;
    width: 100%
}
.curation__art-img {
    width: 40%;
    margin-right: 20px;
}
.curation__art-info-container {
    width: 60%
}
.curation__art-description {
    margin-bottom: 20px;
}
.curation__art-now-price {
    margin-bottom: 15px;
}

.curation__btns {
    display: flex;
}
/*.curation__participate-auction {*/
/*    margin-right: 10px;*/
/*}*/