/* width랑 height 나중에 조절하기*/
.art-item__container {
    width:  270px;
    height: 200px;
    position: relative;

    box-shadow: 0 0 9px 6px #0000001A;
    border-radius: 10px;
}

.art-img {
    position: relative;
    display: block;
    height: 75%;
    width: 100%;
}
.art-thumbnail {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;

    color: transparent;
    padding: 15px;
    display: flex;
    align-items: flex-end;

    box-sizing: border-box;
}
.hidden:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%);
    color: white;
}

.art-info {
    width: 100%;
    height: 25%;

    box-sizing: border-box;
    padding: 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.art-info__artist{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.art-info__artist * {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7px;
}

.art-info__sub {
    font-size: 13px;
    color: #656565;
    display: flex;
}
.art-info__sub * {
    margin-left: 5px;
    display: flex;
}
