.art-item__container {
    width:  100%;
    aspect-ratio: 1 / 1;
    position: relative;

    box-shadow: 0 0 5px 2px #0000001A;
    border-radius: 10px;
}

.art-img__container {
    position: relative;
    display: block;
    height: 80%;
    width: 100%;
}
.art-thumbnail {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}
.hidden {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;

    color: transparent;
    font-size: 16px;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    box-sizing: border-box;
}
.hidden:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 50%);
    color: white;
}


.art-info__container {
    width: 100%;
    height: 20%;

    box-sizing: border-box;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.art-info__artist{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.art-info__artist * {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 7px;
}

.art-info__sub {
    font-size: 12px;
    color: #BCBCBC;
    display: flex;

}
.art-info__sub * {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    align-items: center;
}
