.art_thumbnail {
    position: relative;
}
.hidden {
    position: absolute;
    background-color: transparent;
    color: transparent;
}
.hidden:hover {
    background: rgba(0, 0, 0, 0.7);
    color: white;
}