#my_page__layout {
    display: flex;

    margin-left: 100px;
    margin-right: 100px;
}

#my_page__profile {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    align-items: center;
    border-right: 1px solid #EBEBEB;
}

#my_page__content {
    padding: 20px;
}

#introduction {
    margin-bottom: 20px;
}
#profile_buttons button {
    margin-bottom: 10px;
    align-items: center;
}